/* General */
body {
	font-family: "Lato", sans-serif;
  font-weight: 400;
	text-align: justify;
}

.ecocreamos-logo {
	color: #663300; 
	font-style: italic;
}

/* Cabecera */

.header {
	background: #faf3e3;
}

.header > .container {
	height: 65px;
}

/*.header .topbar ul.loginbar {
    margin-right: 20px;
}*/

.header .navbar-nav > li > a {
	color: #7d684f;
	padding: 9px 16px 9px 16px;
	/*text-transform: none;*/
}
.header .navbar-nav > li:hover > a {
	color: green;
}
.header .navbar-nav > .active > a {
  color: green;
}
/*.header .navbar-nav > li > a:hover,
.header .navbar-nav > .active > a {
  border-bottom-color: green;
}
.header .dropdown-menu {
	border-top: solid 2px green;
}*/
.header .dropdown > a:after {
	top: 9px;
	right: 5px;
	content: "\f107";
}
.header .navbar-nav > li > a:not(.dropdown-toggle) {
	padding-right: 8px;
}
.header .navbar-nav > li:first-child > a {
	padding-left: 0px;
}
.header .navbar-nav > li:last-child > a {
	padding-right: 0px;
}

.header .mega-menu .dropdown-submenu .dropdown-menu {
	left: 50%;
}

/* Cuerpo */

.wrapper {
	background: #faf3e3;
}

.breadcrumbs-v1 {
    padding: 20px 0;
}

.breadcrumbs-v1 h1 {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 0;
    /*text-transform: none;*/
}

.map-box {
	height: 250px;
}


/* Pie */

.footer-default .footer {
	color: #dadada;
	background: #243321;
	padding: 20px 0 30px;
}

.footer-default .copyright {
	font-size: 12px;
	padding: 11px 0 7px;
	background: #3e5340;
}