
/** General **/

body {
	font-family: "Lato", sans-serif;
  font-weight: 400;
	font-size: 14px;
	text-align: justify;
}

@font-face {
	font-family: "Dakota";
	font-stretch: normal;
  src: url("../fonts/Dakota.ttf");
}

.ecocreamos-logo {
	font-family: "Dakota";
	color: #663300;
	font-size: 14px;
	font-weight: 900;
	vertical-align: middle;
	padding-right: 2px;
}

@media (min-width: 1200px) {
	.hide-lg {
		display: none;
		max-height: 0;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.hide-md {
		display: none;
		max-height: 0;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.hide-sm {
		display: none;
		max-height: 0;
	}
}

@media (max-width: 767px) {
	.hide-xs {
		display: none;
		max-height: 0;
	}
}

@media (max-width: 629px) {
	.hide-xxs {
		display: none;
		max-height: 0;
	}
}

.text-align-left {
	text-align: left;
}

.text-align-right {
	text-align: right;
}

.text-align-center {
	text-align: center;
}

.padding-top-20 {
	padding-top: 20px;
}

.padding-bottom-20 {
	padding-bottom: 20px;
}

.padding-bottom-40 {
	padding-bottom: 40px;
}

.padding-left-30 {
	padding-left: 30px;
}

.padding-right-30 {
	padding-right: 30px;
}

.margin-top-10 {
	margin-top: 10px;
}

.img-responsive {
	margin: auto;
}


/** Cabecera **/

.header {
	background: #faf3e3;
}

.header > .container {
	height: 65px;
}

@media (min-width: 992px) and (max-width: 1200px) {
	.header .logo {
		position: relative;
		left:-30px;
	}
}

.header .logo img {
	margin: 0;
	height: 62px;
}

@media (min-width: 992px) and (max-width: 1200px) {
	.header .logo img {
		height: 50px;
	}
}

/*.header .topbar ul.loginbar {
    margin-right: 20px;
}*/

.header .navbar-nav > li > a {
	color: #7d684f;
	padding: 9px 15px 9px 15px;
	/*text-transform: none;*/
}

/*.header .navbar-nav .open .dropdown-menu > li > a {
  color: #7d684f;
}*/

.header .navbar-nav > li:hover > a {
	color: green;
}

/*.header .navbar-nav > li > a:hover,
.header .navbar-nav > .active > a {
  border-bottom-color: green;
}*/

.header .navbar-nav > .active > a {
  color: green;
}

.header .navbar-nav > li > a:not(.dropdown-toggle) {
	padding-right: 8px;
}

.header .dropdown-menu {
	/*border-top: solid 2px green;*/
	min-width: 150px;
}

.header .dropdown-menu li a {
	color: #7d684f;
}

.header .dropdown-menu .active > a, .header .dropdown-menu li > a:hover {
  background: #eee none repeat scroll 0 0 !important;
  color: green;
}

.header .navbar-nav .open .dropdown-menu > .active > a, .header .navbar-nav .open .dropdown-menu > .active > a:hover, .header .navbar-nav .open .dropdown-menu > .active > a:focus {
	background-color: #e7e7e7;
	color: green;
}

.header .dropdown > a:after {
	top: 9px;
	right: 5px;
	content: "\f107";
}

/*.header .navbar-nav > li:first-child > a {
	padding-left: 0px;
}*/

/*.header .navbar-nav > li:last-child > a {
	padding-right: 0px;
}*/

.header .mega-menu .dropdown-submenu .dropdown-menu {
	left: 50%;
}

@media (max-width: 991px) {
	.header .topbar {
		padding-top: 25px;
	}
	.navbar-toggle {
    margin-top: 16px;
	}
}


/** Cuerpo **/

.wrapper {
	background: #faf3e3; /* url("../img/fondos/fondo1.jpg") repeat; */
}

.one-page .one-page-inner {
	padding: 30px 0;
	min-height: 300px;
}

.tp-bannertimer , .tp-bottom { visibility: hidden; }

.breadcrumbs-v1 {
	padding: 20px 0; /* 0px; */
	/*height: 100px; */
}

.breadcrumbs-v1 h1 {
	font-size: 40px;
	line-height: 100px;
	margin-top: 0;
	margin-bottom: 0;
	text-align: left;
	/*text-transform: none;*/
}

@media (min-width: 768px) {
	.sm-row-flex {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
	}
}

.our-clients li {
	height: 140px;
  width: 175px;
	line-height: 120px;
	vertical-align: middle;
	background: #f5f5f5;
}

.our-clients img {
	padding: 10px;
	height: auto;
	width: auto;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
	position: relative;
	vertical-align: middle;
}

.tab-v3 .nav-pills li a {
	font-size: 15px;
	text-align: left;
}

.news-v1 h3 {
	text-align: left;
}

.news-v1 .news-v1-info {
	margin-top: 15px;
}

.news-v1 .btn-u {
	margin-bottom: 5px;
}


/** Mapa **/

.map {
	width: 100%; 
	height: 250px;
	border-top: solid 1px #eee;
	border-bottom: solid 1px #eee;
}

/* important! bootstrap sets max-width on img to 100% which conflicts with google map canvas*/
.map img {
	max-width: none;
}

.map-box {
	height: 250px;
}

.map-box-space {
	margin-top: 15px;
}


/** Error */

.error-bg {
	padding-bottom: 0px;
}

.error-v7 {
	text-align: center;
	padding: 60px 0;
}

.error-v7 h1 {
	font-size: 36px;
	font-weight: 300;
	line-height: 1.2;
	color: #fff;
	margin-bottom: 30px;
}

.error-v7 span.sorry {
	color: #666;
	display: block;
	font-size: 16px;
	font-weight: 300;
	padding-bottom: 50px;
}

.error-v7 .h1 {
	color: #fff;
	font-size: 280px;
	line-height: 1;
	font-weight: 300;
	text-shadow: 2.828px 2.828px 4px rgba(0, 0, 0, 0.04);
}

/*For Mobile Devices*/
@media (max-width: 600px) {
	.error-v7 .h1 {
		font-size: 170px;
	}
}


/** Pie **/

.footer-default .footer {
	color: #dadada;
	background: #243321;
	padding: 20px 0 30px;
}

.footer-default .copyright {
	font-size: 12px;
	padding: 11px 0 7px;
	background: #3e5340;
}

.posts .dl-horizontal dt img {
  height: auto;
}